name: Build & Release

on:
  push:
    branches: [ "**" ]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ "main" ]
  
  workflow_dispatch:
    inputs:
      dotnet-version:
        required: false
        default: "9.0.x"
        description: "The .NET version to setup for the build"
        type: string
      dotnet-target:
        required: false
        default: "net9.0"
        description: "The .NET target to set for JPRM"
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    env: # <-- Add this
      PIP_BREAK_SYSTEM_PACKAGES: "true" # <-- And this
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x
          
      - name: Build Jellyfin Plugin
        uses: oddstr13/jellyfin-plugin-repository-manager@9497a0a499416cc572ed2e07a391d9f943a37b4d # v1.1.1
        id: jprm
        with:
          dotnet-target: "${{ inputs.dotnet-target }}"
          path: './Jellyfin.Plugin.DateAddedAdvanced'
          output: './artifacts'

      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # Use the v4 tag, not a hash
        with:
          name: build-artifact
          if-no-files-found: error
          # Use the output variable from the 'jprm' step.
          # This is robust and always finds the file, wherever jprm put it.
          path: "${{ steps.jprm.outputs.artifact }}"

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          # Use the artifact ZIP created by the 'jprm' step above
          files: "${{ steps.jprm.outputs.artifact }}"