name: Build & Release

on:
  push:
    branches: [ "**" ]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release;find
    - name: Archive production artifacts Jellyfin.Plugin.DateAddedAdvanced
      uses: actions/upload-artifact@v4
      with:
        name: Jellyfin.Plugin.DateAddedAdvanced (net9)
        if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
        path: |
          Jellyfin.Plugin.DateAddedAdvanced/obj/Release/net9.0/Jellyfin.Plugin.DateAddedAdvanced.dll
    - name: Release
      uses: softprops/action-gh-release@v1
      # only release on "v*" tags
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        files: |
          Jellyfin.Plugin.DateAddedAdvanced/obj/Release/net9.0/Jellyfin.Plugin.DateAddedAdvanced.dll
